:root {
  --primary: #024890;
  --primary-dark: #024080;
  --black-80: #252525CC;
  --black: #252525;
  --grey: #EEEEEE;
  --yellow: #F5B706;
  --white: #FFF;
  --grey-hover: #E2E2E2;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box ;
}

body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}
